<%= form_for(@show) do |f| %>
  <% if @show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
      <% @show.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :host_email %><br />
    <%= f.text_field :host_email %>
  </div>
  <div class="field">
    <%= f.label :ticket_price %><br />
    <%= f.number_field :ticket_price %>
  </div>
  <div class="field">
    <%= f.label :tickets_min %><br />
    <%= f.number_field :tickets_min %>
  </div>
  <div class="field">
    <%= f.label :tickets_max %><br />
    <%= f.number_field :tickets_max %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
